# 天眼查 API
TIANYANCHA_TOKEN=your_token_here
# TIANYANCHA_BASE_URL=http://open.api.tianyancha.com

# MongoDB
# MONGO_HOST=localhost
# MONGO_PORT=27017
# MONGO_USER=root
# MONGO_PASSWORD=123456
# MONGO_AUTH_SOURCE=admin
# MONGO_DB=tianyancha
